*{
  padding: 0px;
  margin: 0px;
}

:root{
  --primary-color:rgb(171, 153, 207) !important
}
.input-search:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.m-1px {
  margin: 1px;
}

.product-item:hover {
  box-shadow:
    20px 4px 6px rgba(255, 0, 0, 0.1),
    20px 8px 16px rgba(0, 0, 0, 0.05);
}
.blue-text-color{
  color: rgb(55, 55, 255);
}
.c-color-primary{
  color:var(--primary-color) !important ;
}
.c-bg-primary{
  background-color: var(--primary-color);
}
.c-border-primary{
  border: 1px solid var(--primary-color);
}

form input:focus {
  outline: 1px solid var(--primary-color);
  box-shadow: 1px solid var(--primary-color);
  border-color: 1px solid var(--primary-color);
}

.c-gap{
  gap: 20px;
}